#header{
  height: 5%;
  max-height: 200px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  position: absolute;
  top: 0;
  justify-content: flex-start;

}

#add{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  background-color: green;
  justify-content: flex-start;
}

#qtitle1{
  display: flex;
  border-radius: 10px;
  border-style: none;
  width: 90%;
  opacity: 50%;
  bottom: 205px;
  height: 200px;
  pointer-events: none;
  position: relative;

  vertical-align: middle;
  justify-content: center;
  align-content: center;
  resize: none;
  color: black;
  overflow:hidden;
  font-size: 150%;
}

#qtitle{
  display: flex;
  border-radius: 10px;
  border-style: none;
  width: 90%;
  height: 200px;
  margin-top: 10px;
  background-color: white;
  vertical-align: middle;
  justify-content: center;
  align-content: center;
  resize: none;
  color: black;
  overflow:hidden;
  font-size: 150%;
}

#count{
  display: flex;
  align-self: flex-end;
  color: black;
  position: relative;
  bottom: 40px;
  right: 10px;
  margin-bottom: 0;
  margin-right: 5%;
  padding: 0;

}
#holder{
  display: flex;
  border-radius: 2px;
  width: 90%;
  height: 200px;

  justify-content: flex-start;
}


.trans{
  opacity: 80%;
  top: 110px;
  width: 1;
  height: 1;
  font-family: serif;
  text-decoration: none;
  color: black;
  position: absolute;
}

.answer{
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;

}

#question{
  display: flex;
  max-height: 400px;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  position: relative;
  justify-content: flex-start;
}
.title{
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 10px;
  width: 90%;
  color: white;
  max-width: 500px;
  display: flex;
  background-color: black;
  align-items: center;
  text-align: center;
  height: 100px;
  font-size: 200%;
  justify-content: center;
}
.option{
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-top: 2px dashed white;
  flex-direction: row;
  width: 90%;
  font-size: 120%;
  color: white;
  max-width: 500px;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  height: 50px;
  flex-wrap: wrap;
}

.option .list{
  display: inline-flex;
  flex: 1;
  height: 100%;
  background-color: black;
}


.option .content{
  display: inline-flex;
  flex: 9;
  align-items: flex-start;
  padding-left: 10px;
  height: 100%;
  background-color: black;
}


.choice{
  height: 50px;
  width: 90%;
  font-size: 250%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 5px solid black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 2px solid black;
}
.choice div{
  border-collapse: collapse;
  width: 50%;
  height: 50px;
  display: inline-flex;

  background-color: red;
}
.choice .a{
  border-bottom-left-radius: 10px;
  background-color: green;
}
.choice .b{
  border-bottom-right-radius: 10px;
  background-color: red;
}

#verify::-webkit-scrollbar{
    background: #FF0000;
    display: none;  /* Safari and Chrome */
}

#verify{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  position: absolute;
  height: 80%;
  top: 10%;

  max-width: 500px;
  display: flex;
  color: white;
  overflow-y: scroll;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 100px;
}

#back{

}
