

#menu{
  margin-top: 0;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  flex-direction: column;

}
#currency{
  display: -webkit-flex;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 0;
  bottom: 0;
  height: 50px;
}
#currency p{
  display: -webkit-flex;
  display: flex;
  align-items: center;
  font-stretch: extra-condensed;
  letter-spacing: normal;
  font-kerning: normal;
  padding-left: 10px;
  font-size: 200%;
  color: yellow;
}
button{
  background-color: black;
  color: white;
  border-style: none;
  border-radius: 0px;
  border-color: white;
  font-family:  serif;
  align-items: center;
  font-size: 300%;
  justify-content: center;
  display: flex;
  width: 80vw;
  max-width: 300px;
  height: 10vh;
  margin-bottom: 10px;
}

button:hover{
  text-decoration: underline;
}

h1{
  margin-top: 0;
  color: yellow;
  font-size: 50px;
  text-decoration: underline;
  font-family: sans-serif;
}
