//https://www.color-hex.com/color-palette/106231

$font-color: black;
$background-color: white;
$other-color-dark: #202523;
$other-color-grey: #757e7b;
$other-color-orange: #cb784e;
$menu-width: 95vw;
$menu-height: 85vh;
$fonttype: 'Noto Sans JP';

@-ms-viewport{
  width: device-width;
}

html {
  background-color: $background-color;
  color: $font-color;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  position: fixed;
  height: 100%;
  body {
    margin-left: 0;
    font-family: $fonttype;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    #menu {
      display: grid;
      grid-template-columns: $menu-width/2 $menu-width/2;
      grid-template-rows: $menu-height * 0.1 $menu-height * 0.2 $menu-height * 0.125 $menu-height * 0.125 $menu-height * 0.125 $menu-height * 0.125;
      grid-template-areas:
        "inventory inventory"
        " title title "
        "play play"
        "store leaderboard"
        "profile contribute"
        "active .";
      justify-content: center;
      align-items: center;
      height: $menu-height*.8;
      width: $menu-width;
      i {
        display: inherit;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: auto;
      }
      #title {
        justify-self: center;
        position: relative;
         //11 is the number of characters in title insure that text size scalze propley
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
        h1{
          font-family: $fonttype;
          font-size: $menu-height * 0.3/11 * 3.5;
        }
      }
      button {
        text-decoration: none;
        text-align: center;
        color: white;
        border: solid 2px red;
        border-radius: 5px;
        width: inherit;
        height: inherit;
        font-size: inherit;
        background-color: red;
      }

      #logout {
        justify-self: start;
        margin-left: 5px;
        position: relative;
        height: $menu-height * 0.1 * 0.95;
        font-size: $menu-height * 0.1 * 0.5;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 6;
        button {
          width: ($menu-height * 0.1) * 2.5;
        }
      }


      #inventory {
        text-decoration: none;
        width: 90vw;
        justify-content: center;
        display: flex;
        justify-self: center;
        font-size: $menu-height * 0.3/11 * 3;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        #hearts {
          color: red;
        }
        #diamonds {
          color: blue;
        }
        #bitcoin {
          color: green;
        }
        div {
          display: inline-block;
          margin-right: 4px;
        }
      }
      #play {
        justify-self: center;
        position: relative;
        font-size: $menu-height * 0.1 * 0.5;
        height: $menu-height * 0.1 * 0.95;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
        button {
          width: calc(
            ((85vh * 0.1) * 2.5) * 2 + 10px
          ); //doesn't work well with sass must manual put in value
        }
      }
      #store {
        justify-self: end;
        margin-right: 5px;
        position: relative;
        font-size: $menu-height * 0.1 * 0.5;
        height: $menu-height * 0.1 * 0.95;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;
        float: left;
        button {
          width: ($menu-height * 0.1) * 2.5;
        }
      }
      #leaderboard {
        justify-self: start;
        margin-left: 5px;
        position: relative;
        font-size: $menu-height * 0.1 * 0.30;
        height: $menu-height * 0.1 * 0.95;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 4;
        button {
          width: ($menu-height * 0.1) * 2.5;
        }
      }
      #profile {
        justify-self: start;
        margin-left: 5px;
        position: relative;
        height: $menu-height * 0.1 * 0.95;
        font-size: $menu-height * 0.1 * 0.5;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 5;
        button {
          width: ($menu-height * 0.1) * 2.5;
        }
      }
      #contribute {
        justify-self: end;
        margin-right: 5px;
        position: relative;
        height: $menu-height * 0.1 * 0.95;
        font-size: $menu-height * 0.1 * 0.4; //this was determined to be the best work around for text bug
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 5;
        button {
          width: ($menu-height * 0.1) * 2.5;
        }
      }
      #active{
        justify-self: end;
        margin-right: 5px;
        position: relative;

        height: $menu-height * 0.1 * 0.95;
        font-size: $menu-height * 0.1 * 0.2; //this was determined to be the best work around for text bug
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 6;
        button {
          border-radius: 40px;
          border-color: black;
          background-color: black;
          width: ($menu-height * 0.1) * 2.5;
        }
      }

    }
  }
}
