// my custom colors


// buttons


* {
    box-sizing: border-box;
}

html{
  background-color: white;
  @btn-colors: blue, green, purple, orange, gold;
}

h3{
  text-align: center;
  color: black;
}
.form-group{
  margin-bottom: 10px;
}


.inner1{
  border-left: 0;
  border-color: #b5b5b5 !important;
  color: inherit;
  background-color: white;
}

#password1:hover{
  border-color:  #b5b5b5 !important;
}

#password:hover{
  border-color:  #b5b5b5 !important;
}
#demoForm3Username{
  border-right: 0 !important;
}
#demoForm3Username:hover{
  border-color:  #b5b5b5 !important;
}
.btn.red.hollow:disabled{
  cursor: default;
  border-color:  #b5b5b5 !important;
  color: red !important;
  opacity: 100% !important;
  background-color: white;
}
.btn.green.hollow:disabled{
  cursor: default;
  border-color: #b5b5b5 !important;
  color: green !important;
  opacity: 100% !important;
  background-color: white;
}

.disabled{

}
