// my custom colors


// buttons


* {
    box-sizing: border-box;
}

html{
  background-color: white;
  @btn-colors: blue, green, purple, orange, gold;
}

h3{
  text-align: center;
  color: black;
}
.form-group{
  margin-bottom: 10px;
}
